body {		
    		font-family:'Comfortaa', sans-serif;
			padding:50px;
			margin:50px;
			
			 background: linear-gradient(to right, #1d976c, #4e898c, #1d976c);
			color:white;


				}
	title {
			text-align:center;
				}
	.navigation li {	
			display:inline-block;
			text-align:center;
			list-style: none;
			padding-right: 20px;
			font-size:20px;
			line-height:40px;	
				}
	a {
		text-align:center;
		color:white;
		font-size:18px;
				}
	h2 {	
			font-family: 'Ubuntu';
			text-align:left;
			font-size: 47px;
			padding-top: 50px;
	}
	h1 {	
			font-family: 'Ubuntu';
			text-align:left;
			font-size: 64px;
		}
	h3 {
			font-size: 40px;
			padding-top:50px;

	}
	#first {
			padding-top: 100px;
	}
	.about {padding-top: 50px;
			text-align: left;
			line-height: 27px;
			font-size: 25px;
	}

	.contact {
				font-size: 45px;

				padding-top: 50px;
				padding-left: 50px
	}
	.contact1 {font-size: 45px;
				padding-top: 15px;
				padding-left: 50px
			}
	.brief {	padding:40px;
		line-height:40px;
		width:400px;
		margin:15px;
		border:5px;
		border-style:double dotted;
		font-size: 30px;
		
		}
   .content {	padding:20px 40px 60px ;
		line-height:40px;
		
  		}
 
 	.blue {	
    		font-family:'Comfortaa', sans-serif;
			padding:50px;
			margin:50px;
			
			 background: linear-gradient(to top, #333333, #89216B);
			color:white;
}

	.maneater {	
    		font-family:'Comfortaa', sans-serif;
			padding:50px;
			margin:50px;
			
			 background: linear-gradient(to top, #333333, #dd1818);
			color:white;
				}
	.orchid {	
    		font-family:'Comfortaa', sans-serif;
			padding:50px;
			margin:50px;
			
			 background: linear-gradient(to top, #333333, #acbb78);
			color:white;
			}
 	.link {
		text-align:center;
		color:white;
		font-size:18px;
				}
	.flowerimage{
		height:100%;
		width:100%;
	}
	.Flowerlist{
		font-size:25px;
	}
	.ack {
		font-size: 40px;
		border-style: dashed;
		width:500px;
		padding: 30px;
	}
	.git {

		font-size: 40px;
		font-family: 'Roboto Mono'
	}
  	#plantlist li{
  		font-size: 25px;
  		line-height: 40px;
  		padding:10px;
  	}
  	#plantlist {
  		line-height: 40px;
  		padding:10px 100px 20px 100px;
  	
 	#TitleQ {
 			font-size: 50px;
 	}
