{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chilanka|Comfortaa|Dancing+Script|Pacifico|Roboto|Roboto+Mono|Titillium+Web|Ubuntu&display=swap" rel="stylesheet"> 
	<title>
		{% block title  %}
	    {% endblock title  %}
	</title>
		
</head>

		{% block body %}
		{% endblock body %}

		<p> <a class = 'link' href = "{% url 'home'%}" >Index</a> </p>
	<p> <a class = 'link' href = "{% url 'orchid'%}">Western Prairie Fringed Orchid</a> </p>
	<p> <a class = 'link' href = "{% url 'maneater'%}" >Rafflesia Flower</a></p> 
        <p> <a class = 'link' href ="{% url 'blue' %}">Georgia Aster</a> </p>
  

</html>
