
{% extends 'base.html' %}
{% load static %}
{% block title  %}
Endangered Species

	    {% endblock title  %}
{% block body %}
<body>
</h1>
  <h2>Top 3 endangered species of plants in the world</h2>
  <p class = "contents"> An endangered species is a native species that faces a significant risk of extinction in the near future throughout all or a significant portion of its range. Such species may be declining in number due to threats such as habitat destruction, climate change, or pressure from invasive species.

The term endangered species can be used either in a general or legal context. When used in a general sense, the term describes a species that faces a risk of extinction but does not necessarily indicate that the species is protected under any law.

When used in a legal context, the term refers specifically to a species that is listed on the US Endangered Species List and is defined legally as an animal or plant species in danger of extinction throughout all or a significant portion of its range.</p>
  
  <h2> List of Top 3 Endangered Plants </h2>
   <ol id = "plantlist">

	<li> <a href = "{% url 'orchid' %} " >Western Prairie Fringed Orchid</a> </li>
	<li> <a href =  "{% url 'maneater' %} " >Rafflesia Flower</a> </li>
	<li> <a href =  "{% url 'blue' %} "  >Georgia Aster</a> </li>

  
  </ol>
  </body>
	  

		{% endblock body %}