
{% extends 'base.html' %}
{%load static%}
{% block title  %}
	Rafflesia Flower
	    {% endblock title  %}

	    {% block body %}
	    <body class = 'maneater'>
	    <h1> Rafflesia Flower</h1>
	<p class = "brief"> Rafflesia arnoldii is thought to be the largest flower on the planet. The flower itself does not have a structural stem, leaves, or roots. But what it does have is the pungent odors of decomposing flesh, hence the nickname corpse flower. It grows three feet in diameter, and weighs up to 24 pounds.  </p>
 <img class = "flowerimage" src = "{% static 'images/maneater.jpg' %} " >
	<p class = "content"> The plant has no stems, leaves or roots. It is a holoparasite of vines in the genus Tetrastigma (Vitaceae), spreading its absorptive organ, the haustorium, inside the tissue of the vine.[1] The only part of the plant that can be seen outside the host vine is the five-petalled flower. In some species, such as Rafflesia arnoldii, the flower may be over 100 centimetres (39 in) in diameter, and weigh up to 10 kilograms (22 lb). Even one of the smallest species, R. baletei, has 12 cm diameter flowers.

The flowers look and smell like rotting flesh, hence its local names which translate to "corpse flower" or "meat flower" (see below). The foul odor attracts insects such as flies, which transport pollen from male to female flowers. Most species have separate male and female flowers, but a few have hermaphroditic flowers. Little is known about seed dispersal. However, tree shrews and other forest mammals eat the fruits and disperse the seeds.

Rafflesia is the official state flower of Indonesia, where it is known as puspa langka (rare flower) or padma paksasa (giant flower), of Sabah state in Malaysia, and of Surat Thani Province in Thailand. In Thailand, Rafflesia can be observed in Khao Sok National Park where the flowers are numbered and monitored by the park rangers.[2]

Rafflesia are also remarkable for showing a large horizontal transfer of genes from their host plants. This is well known among bacteria, but not higher organisms.</p> 
	
	</body>
		{% endblock body %}