
{% extends 'base.html' %}
{% load static %}
{% block title  %}
Western Prairie Fringed Orchid
	    
{% endblock title  %}
	    {% block body %}

	    <body class = 'orchid'>
	    <h1> Western Prairie Fringed Orchid</h1>
	<p class = "brief"> Platanthera praeclara only exists in five U.S. states in the Midwest. The Endangered Species Coalition estimates that there are only 172 populations of this plant, with merely four with more than 1,000 plants. </p>
 <img src=" {% static 'images/orchid.jpg' %}"  >
	<p class = "content"> The Western Prairie Fringed Orchid (Platanthera praeclara) is one half of a unique symbiotic relationship occurring in the tall, grass meadows of the Midwestern United States. Releasing its fragrance only in the evening, the orchid relies on Hawkmoths for pollination.

It can be found in moist, native, tall grass meadows in Midwestern United States, and into Canada. There are 172 known populations, of which only 4 have numbers greater than 1,000 plants. The orchid is considered threatened in all states with known populations.

The decline of the Western Prairie Fringed Orchid is yet another victim of the continued development of untouched, native lands. Past and present farming practices have cleared vast areas of native tallgrass prairie, fragmenting the populations of orchids into smaller and smaller patches of suitable habitat. This has decreased the ability of the hawkmoth to provide the necessary pollination needed for the orchids survival.

Herbicide and pesticide use in farming can also lead to a downfall in orchid populations. Other factors contributing to the decline of the orchid include overgrazing, collecting, fire and hay mowing.

Prairie potholes are the depressions that remained when glaciers receded from the Midwest 10,000 years ago. These potholes make up part of the seasonal wetlands of the Great Plains. In order to thrive, the Western Prairie Fringed Orchid relies on regular rainfall to maintain these distinctive wetlands.</p> 


		{% endblock body %}